button {
  border: none;
  padding: 0;
  outline: none;
  font-family: inherit;
}


.button {
  &--default {
    border-radius: 5px;
    color: #fff;
    background: #7db03a linear-gradient(to bottom, #7db03a, #4d6d21);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    cursor: pointer;

    &:hover {
      background: linear-gradient(to top, #7db03a, #4d6d21);
    }
  }

  &--dark {
    border-radius: 5px;
    color: #fff;
    background: #1b2433;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    cursor: pointer;

    &:hover {
      background: #222d40;
    }

    &.active {
      background: #3e5275;
    }
  }

  &--input {
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &--ml {
    margin-left: 14px;
  }
}


.container {
  &--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;

    @media screen and (max-width: 800px) {
      justify-content: center;
    }
  }
}

.container-additional {
  margin: 0 auto;
}

header {
  @media screen and (max-width: 800px) {
    height: 170px;
    line-height: 75px;
  }

  .logo {
    @media screen and (max-width: 800px) {
      width: 100%;
      text-align: center;
    }
  }

  nav {
    display: flex;
    flex-wrap: wrap;

    a {
      @media screen and (max-width: 979px) {
        margin-left: 0;

        &:not(:first-child) {
          margin-left: 10px;
        }
      }
    }
  }
}

section {
  &.profile {
    //display: flex;
    display: grid;
    grid-template-columns: minmax(0, 140px) 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
    text-align: left;

    @media screen and (max-width: 800px) {
      grid-template-columns: minmax(0, 100px) 1fr;
    }
  }
}

.profile {
  &__avatar {
    //align-self: flex-start;
    grid-row: span 3;
    border-radius: 10px;
    width: 100%;

    @media screen and (max-width: 800px) {
      //align-self: center;
      grid-row: span 2;
    }
  }

  &__description {
    flex-grow: 1;
    //margin-left: 20px;

    /*@media screen and (max-width: 699px) {
      margin-left: 0;
      margin-top: 20px;
    }*/

    &--break-1 {
      @media screen and (max-width: 800px) {
        grid-column: span 2;
      }
    }

    &--break-2 {
      @media screen and (max-width: 800px) {
        grid-column: span 2;
      }
    }
  }

  &__nickname {
    font-size: 28px;
    font-weight: 900;
  }

  &__balance {
    margin-top: 10px;
    font-weight: 700;
    color: #ccc;
  }

  &__balance-span {
    color: #a0c568;
  }

  /*&__tradeoffer {
    margin-top: 14px;
  }*/

  /*&__paragraph {
    margin-top: 20px;
  }*/
}

.profile-tradeoffer {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-bottom: -14px;

  &__input,
  &__button {
    margin-left: 20px;
    margin-bottom: 14px;
  }

  &__input {
    flex-grow: 1;
    width: auto;
    padding: 0 20px;
    box-sizing: border-box;
  }
}

.paragraph {
  padding-left: 40px;
  font-size: 16px;
  color: #ccc;
  background: no-repeat top left;

  &--info {
    min-height: 31px;
    background-image: url("assets/images/info_icon_big.png");
  }

  &__link {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #e5c33d;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}




.withdraw {
  display: grid;
  //grid-template-columns: 1fr minmax(0, auto);
  //grid-gap: 20px;
  margin-bottom: 20px;

  &__title {
    //grid-column: span 2;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  &__methods {
    //grid-column: 2;
    //grid-row: 3/6;
    margin-top: 20px;
  }

  &__input-block {
    display: flex;
    //grid-column: 1;
    margin-top: 20px;
  }

  &__input {
    padding: 0 20px;
  }
}

.withdraw-methods {
  &__title {
    //grid-column: 2;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__methods {
    //display: grid;
    //grid-template-columns: repeat(2, minmax(0, 140px));
    //grid-auto-rows: 1fr;
    //grid-gap: 10px 12px;
    //justify-content: center;
    display: flex;
    justify-content: center;
    //margin-top: 10px;
  }

  &__button {
    //grid-column: 2;
    min-width: 131px;
    min-height: 53px;
    padding: 6px;

    &:not(:first-child) {
      margin-left: 10px;
    }

    &--fs {
      //grid-column: 1;
      margin-right: 50px;
    }

    > img {
      max-height: 40px;
    }
  }
}
