@mixin fluid($property, $maxScreen, $minScreen, $maxValue, $minValue, $flag_before: true, $flag_after: true) {
  @if $flag_before == true {
    #{$property}: $maxValue;
  }
  @media screen and (max-width: $maxScreen) {
    $m: ($maxValue - $minValue) / ($maxScreen - $minScreen);
    $b: round($minValue - $m * $minScreen);
    $temp: round($m * 100vw * 100) / 100;
    @if $b < 0 {
      #{$property}: calc(#{$temp} - #{abs($b)});
    }
    @else if $b > 0 {
      #{$property}: calc(#{$temp} + #{$b});
    }
    @else if $b == 0 {
      #{$property}: $temp;
    }
  }
  @if $flag_after == true {
    @media screen and (max-width: $minScreen) {
      #{$property}: $minValue;
    }
  }
}



@mixin width_col($item_count, $margin) {
  @if $margin == 0 {
    width: floor(10000% / $item_count) / 100;
  }
  @else {
    width: calc(#{floor(10000% / $item_count) / 100} - #{$margin * 2});
  }
}






button {
  border: none;
  padding: 0;
  outline: none;
  font-family: inherit;
}


.button {
  &--default {
    border-radius: 5px;
    color: #fff;
    background: #7db03a linear-gradient(to bottom, #7db03a, #4d6d21);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    cursor: pointer;

    &:hover {
      background: linear-gradient(to top, #7db03a, #4d6d21);
    }
  }

  &--dark {
    border-radius: 5px;
    color: #fff;
    background: #1b2433;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    cursor: pointer;

    &:hover {
      background: #222d40;
    }

    &.active {
      background: #3e5275;
    }
  }

  &--input {
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &--ml {
    margin-left: 14px;
  }
}


.container {
  &--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;

    @media screen and (max-width: 800px) {
      justify-content: center;
    }
  }
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: -14px;
  margin-bottom: -14px;

  &--center {
    justify-content: center;
  }

  &__item {
    margin-left: 14px;
    margin-bottom: 14px;
  }
}

header {
  @media screen and (max-width: 800px) {
    height: 170px;
    line-height: 75px;
  }

  .logo {
    @media screen and (max-width: 800px) {
      width: 100%;
      text-align: center;
    }
  }

  nav {
    display: flex;
    flex-wrap: wrap;

    a {
      @media screen and (max-width: 979px) {
        margin-left: 0;

        &:not(:first-child) {
          margin-left: 10px;
        }
      }
    }
  }
}

section {
  &.profile {
    display: grid;
    grid-template-columns: minmax(0, 140px) 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
    text-align: left;

    @media screen and (max-width: 800px) {
      grid-template-columns: minmax(0, 100px) 1fr;
    }

    @media screen and (max-width: 500px) {
      grid-template-columns: minmax(0, 70px) 1fr;
      grid-gap: 14px;
    }
  }
}

.profile {
  &__avatar {
    grid-row: span 3;
    border-radius: 10px;
    width: 100%;

    @media screen and (max-width: 800px) {
      grid-row: 1;
    }

    @media screen and (max-width: 500px) {
      border-radius: 6px;
    }
  }

  &__description {
    flex-grow: 1;

    &--break-1 {
      @media screen and (max-width: 800px) {
        grid-column: span 2;
      }
    }

    &--break-2 {
      @media screen and (max-width: 800px) {
        grid-column: span 2;
      }
    }
  }

  &__nickname {
    font-size: 28px;
    font-weight: 900;

    @media screen and (max-width: 500px) {
      font-size: 22px;
    }
  }

  &__balance {
    margin-top: 10px;
    font-weight: 700;
    color: #ccc;
  }

  &__balance-span {
    color: #a0c568;
  }
}

.profile-tradeoffer {
  &__input {
    flex-grow: 1;
    width: auto;
    padding: 0 20px;
    box-sizing: border-box;
  }
}

.paragraph {
  padding-left: 40px;
  font-size: 16px;
  color: #ccc;
  background: no-repeat top left;

  &--info {
    min-height: 31px;
    background-image: url("assets/images/info_icon_big.png");
  }

  &__link {
    display: inline-block;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #e5c33d;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}




.withdraw {
  margin-bottom: 20px;

  &__container {
    max-width: 750px;
    margin: 0 auto;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  &__methods {
    margin-top: 20px;
  }

  &__methods,
  &__input-block {
    margin-top: 20px;

    @media screen and (max-width: 639px) {
      margin-top: 12px;
    }
  }

  &__input {
    width: auto;
    flex-grow: 1;
    padding: 0 20px;
  }
}

.withdraw-methods {
  &__title {
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__methods {
    display: grid;
    grid-template-columns: 1.42fr repeat(4, 1fr);
    grid-gap: 10px;

    @media screen and (max-width: 500px) {
      grid-template-columns: 1.42fr repeat(2, 1fr);
    }
  }

  &__button {
    min-height: 53px;
    padding: 6px;

    &--fs {
      margin-right: auto;

      @media screen and (max-width: 500px) {
        grid-row: span 2;
      }
    }

    > img {
      max-height: 40px;
    }
  }
}


.withdraw-history {
  &__title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  &__row,
  &__header {
    display: flex;
    align-items: center;
    min-height: 50px;
    padding: 8px 0;
  }

  &__header {
    border-radius: 8px 8px 0 0;
    color: #ccc;
    background: #0d131c;
  }

  &__row {
    font-size: 14px;
    color: #b3b3b3;
    background: #111924;

    &:not(:last-child) {
      border-bottom: 1px solid #1b2738;
    }

    &:last-child {
      border-radius: 0 0 8px 8px;
    }
  }

  &__col {
    width: 25%;
    text-align: center;
  }

  &__amount {
    position: relative;
    padding-left: 26px;
    padding-right: 4px;

    &::before {
      content: '';
      position: absolute;
      top: -2px;
      left: 0;
      width: 20px;
      height: 20px;
      background: url("assets/images/ico-arrow-rate-up.svg");
      background-size: 100% 100%;
      transform: scaleY(-1);
    }

    &--up {
      &::before {
        background-image: url("assets/images/ico-arrow-rate-down.svg");
        transform: none;
      }
    }
  }
}


.main-section {
  background: none;
  border: none;
  padding: 0;
  margin-bottom: 50px;

  &__title {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    //text-align: center;
    //text-transform: uppercase;
  }

  &__description {
    //text-align: center;
    font-size: 16px;
    color: #8c8ca4;
  }

  &__paragraph {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__button {
    min-height: 30px;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    background: #365c00 linear-gradient(to bottom, #599608, #365c00);
  }

  &__screenshot {
    max-width: 100%;
  }

  &__img-block {
    @media screen and (max-width: 639px) {
      display: none;
    }
  }
}

.columner-main {
  $margin: 10px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: (-$margin * 2) (-$margin) 0;

  &__item {
    @include width_col(2, $margin);
    margin: ($margin * 2) $margin 0;

    @media (max-width: 639px) {
      @include width_col(1, $margin);
    }
  }
}

.main-title-span-1 {
  color: #e5c33d;
}

.main-title-span-2 {
  color: #7db03a;
}

.columner-stat {
  $margin: 10px;

  display: flex;
  flex-wrap: wrap;
  margin: (-$margin * 2) (-$margin) 0;

  &__item {
    @include width_col(3, $margin);
    margin: ($margin * 2) $margin 0;

    @media (max-width: 639px) {
      @include width_col(1, $margin);
    }
  }
}

.stat-section {
  background: none;
  border: none;
  padding: 0;

  &__number {
    flex-shrink: 0;
    margin-bottom: 10px;
    @include fluid(font-size, 1239px, 979px, 36px, 30px);
    line-height: 1;
    font-weight: 900;

    @media screen and (max-width: 639px) {
      margin-bottom: 0;
    }
  }

  &__description {
    font-size: 15px;
    color: #8c8ca4;
  }

  &__col {
    text-align: center;
  }
}
